header {
  text-align: center;
  font-size: 3em;
}

.btn {
  max-width: 20%;
  align-items: center;
}

.container {
  width: 50% !important;
}

input {
  margin-left: 5px !important;
}

.edges {
  margin: 10px;
}
