header {
  text-align: center;
  font-size: 3em;
}

.calculator {
  display: flex;
  flex-direction: row;
}

.btn {
  max-width: 15%;
  align-items: center;
}

.container {
  width: 50% !important;
}

input {
  margin-left: 5px !important;
}
